.scanner-view {
    border-radius: 5px;
    border: 0px solid black;
    max-width: 250px;
    align-self: center;
    margin: auto;
    object-fit: contain;
}

/* zxing-scanner {
    border: 0px solid #5d78ff;
    border-radius: 1.5em;
} */