<div class="moduler-app-content">
    <div class="section-display">
        <div style="margin-bottom: 10px;">
            <h1 class="main-text">Scan a Plan</h1>
            <small class="sub-text">Ensure sufficient lighting & accurate positioning of the plan's code</small>
        </div>
        <div class="scanner-view">
            <zxing-scanner #scanner (scanSuccess)="onCodeResult($event)" [torch]="torchEnabled" [device]="deviceCurrent" [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)" (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
        </div>
        <ng-container *ngIf="hasPermission === undefined">
            <h2 class="main-text">Waiting for permissions.</h2>
            <blockquote class="sub-text">
                If your device does not have cameras, no permissions will be asked.
            </blockquote>
        </ng-container>

        <ng-container *ngIf="hasPermission === false">
            <h2 class="main-text">You denied the camera permission, we can't scan anything without it. 😪</h2>
        </ng-container>
        <ng-container *ngIf="hasDevices === undefined">
            <h2 class="main-text">Couldn't check for devices.</h2>
            <blockquote class="sub-text">
                This may be caused by some security error.
            </blockquote>
        </ng-container>

        <ng-container *ngIf="hasDevices === false">
            <h2 class="main-text">No devices were found.</h2>
            <blockquote class="sub-text">
                Your device has no media devices attached to.
            </blockquote>
        </ng-container>
    </div>


    <div class="section-actions">
        <button mat-flat-button color="accent" (click)="navigateHome()">
          <mat-icon  aria-hidden="false"  aria-label="Example home icon">home</mat-icon>
          <mat-icon  aria-hidden="false"  aria-label="Example home icon">arrow_left</mat-icon>
          Go to Start
        </button>
        <br>
        <br>
        <button mat-flat-button color="accent" (click)="viewUsingDemoCode()">
            <mat-icon  aria-hidden="false"  aria-label="Example home icon">date_range</mat-icon>
            View "Test" Plan
          </button>
    </div>

</div>