/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.moduler-app-content {
    display: flex;
    align-items: center;
    padding: 0 16px;
    flex-direction: column;
    margin: 50px auto 22px;
    max-width: 720px;
    text-align: center;
}

.section-actions {
    margin-top: 40px;
}
